name: build-matrix
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  schedule:
    - cron: "0 0 * * 1"  # 每周一 UTC 时间 00:00 执行
  workflow_dispatch:
env:
  base_directory: zouyq

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: rathole
            dir: rathole
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: derper
            dir: tailscale
            dockerfile: derper/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: tailscale
            dir: tailscale
            dockerfile: tailscale/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: bark
            dir: bark-server
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: caddy
            dir: caddy
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: frpc
            dir: frp
            dockerfile: frpc/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: frps
            dir: frp
            dockerfile: frps/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: headscale
            dir: headscale/headscale
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: helloworld
            dir: helloworld
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: netbird
            dir: netbird
            dockerfile: netbird/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: netbird-dashboard
            dir: netbird
            dockerfile: netbird-dashboard/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: netbird-mgmt
            dir: netbird
            dockerfile: netbird-mgmt/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: netbird-signal
            dir: netbird
            dockerfile: netbird-signal/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: rustdesk-server
            dir: rustdesk
            dockerfile: rustdesk-server/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: rustdesk-api-server
            dir: rustdesk
            dockerfile: rustdesk-api-server/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: one-api
            dir: one-api
            dockerfile: one-api/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: new-api
            dir: one-api
            dockerfile: new-api/Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: mosdns
            dir: mosdns
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: vlmcsd
            dir: vlmcsd
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: zerotier
            dir: zerotier
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: dnsserver
            dir: dnsserver
            dockerfile: Dockerfile
            platforms: linux/amd64
          - name: coredns
            dir: coredns
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: smartdns
            dir: smartdns
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: blocky
            dir: blocky
            dockerfile: Dockerfile
            platforms: linux/amd64,linux/arm64
          - name: curl_doh
            dir: curl
            dockerfile: doh/Dockerfile
            platforms: linux/amd64,linux/arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lower case with latest
        id: string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ secrets.DOCKER_USERNAME }}/${{ matrix.name }}

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Lower case with date
        id: date_string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ secrets.DOCKER_USERNAME }}/${{ matrix.name }}:${{ steps.date.outputs.date }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          file: ${{ env.base_directory }}/${{ matrix.dir }}/${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          push: true
          context: ${{ env.base_directory }}/${{ matrix.dir }}
          tags: |
            ${{ steps.string.outputs.lowercase }}
            ${{ steps.date_string.outputs.lowercase }}
#            ghcr.io/${{ steps.string.outputs.lowercase }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
